DATABASE_URL="postgresql://auth_user:auth_password@localhost:PORT/db_name" # replace auth_user, auth_password and db_name with the values in your ../.env file
JWT_SECRET="marylene la + urbaine" # replace with the output of `openssl rand -hex 32` 